# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\du an 1\GD3_G8 - Copy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
